@charset "UTF-8";

body {
    font-family: '맑은 고딕';
    'Apple SD Gothic Neo', sans-serif
}

.site h1 a {
    color: #000000;
    text-decoration: none;
}

.site h1 {
    margin: 0;
    font-size: 30px;
}

/*내비게이션*/

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #eeeeee;
}

.menu ul:after {
    display: block;
    content: "";
    clear: both;
}

.menu li {
    float: left;
    width: auto;
}

/*기사*/
.story h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 36px;
}

.story p {
    margin-top: 0;
    margin-bottom: 20px;
}

/*사이드 메뉴*/
.sidemenu {
    margin-bottom: 30px;
}

.sidemenu ul {
    margin:0;
    padding:0;
    list-style: none;
}

.sidemenu li a {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-display: none;
}

.sidemenu li a:hover {
    background-color: #eeeeee;
}

.sidemenu h1 {
    margin-top:0;
    margin-bottom: 10px;
    border-bottom: dotted 2px #dddddd;
    color: #666666;
    font-size: 18px;
}

.recommend {
    margin-bottom: 30px;
}

.recommend ul {
    margin:0;
    padding:0;
    list-style: none;
}

.recommend li a {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-display: none;
}

.recommend li a:hover {
    background-color: #eeeeee;
}

.recommend h1 {
    margin-top:0;
    margin-bottom: 10px;
    border-bottom: dotted 2px #dddddd;
    color: #666666;
    font-size: 18px;
}

.popular {
    margin-bottom: 30px;
}

.popular ul {
    margin:0;
    padding:0;
    list-style: none;
}

.popular li a {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-display: none;
}

.popular li a:hover {
    background-color: #eeeeee;
}

.popular h1 {
    margin-top:0;
    margin-bottom: 10px;
    border-bottom: dotted 2px #dddddd;
    color: #666666;
    font-size: 18px;
}

.copyright p {
    margin: 0;
    color: #666666;
    font-size: 14px;
}

.story img {
    max-width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    .boxA:after {
        content: "";
        display: block;
        clear:both;
    }

    .box3 {

        float: left;
        width: 70%;
    }

    .box4 {
        float: left;
        width: 30%;
    }
}
